html,
body,
.app-main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.app-layout {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
  background-color: #fffdfb;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 12%;
  width: 100%;
}

.color-primary {
  background-color: #2292a4;
  color: #d96c06;
}

.color-secondary {
  background-color: #d96c06;
  color: #2292a4;
}
