html,
body,
.app-main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.app-layout {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
  background-color: #f6f6f6;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 12%;
  width: 100%;
}

.color-primary {
  background-color: rgb(
    244,
    244,
    244
  ); /* Replace with your desired primary color */
}
